* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  :root {
    --main_theme: #ffffff;
  }
  
  button {
    background: none;
    border: none;
  }
  
  body {
    width: 100vw;
    font-family: "Raleway", sans-serif;
  }
  
  .blur_gradient {
    width: 100vw;
    height: 200px;
    background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  }
  
  .bg_container {
    background-image: url("Group.png");
    background-size: cover;
  }
  
  .navbar {
    width: 100%;
    padding: 30px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navbar .nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .navbar .nav_links a {
    position: relative;
    padding: 15px 25px;
    color: var(--main_theme);
    font-size: 18px;
    background-color: transparent;
  }
  .navbar .nav_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    cursor: pointer;
  }
  .navbar .nav_buttons .sign_up_button {
    font-size: 18px;
    color: var(--main_theme);
    background: none;
    padding: 10px 15px;
    border: var(--main_theme) 1px solid;
    cursor: pointer;
  }
  
  .landing {
    display: flex;
    width: 100%;
    height: 88vh;
    min-height: -moz-fit-content;
    min-height: fit-content;
    padding-left: 15%;
    display: flex;
    align-items: center;
    position: relative;
  }
  .landing .landing_title {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .landing .landing_title .landing_title_main {
    font-weight: 700;
    font-size: 85px;
    line-height: 91px;
    color: white;
    font-family: "Philosopher", sans-serif;
  }
  .landing .landing_title .landing_title_sub {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
  }
  .landing .landing_title .landing_title_buttons {
    display: flex;
    gap: 20px;
  }
  .landing .landing_title .landing_title_buttons button {
    font-size: 18px;
    color: black;
    background: none;
    padding: 8px 15px;
    background-color: var(--main_theme);
    display: flex;
    gap: 10px;
    cursor: pointer;
  }
  .landing .landing_title .landing_title_buttons .button_nobg {
    background-color: transparent;
    color: white;
  }
  .content{
    /* background: #0a0622; */
    background-image: linear-gradient(0deg, #08041d 0%, #0a0425 50%,#07031e 100%);
    width: 100%;
    height: 65vh;
    display: flex;
  }
 
  .content .content-div1{
    color: white;
  }
  h3{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
  }
  h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;

  }

  .content2{
    display: flex;
    background-image: linear-gradient(0deg, #08041d 0%, #0a0425 50%,#07031e 100%);
    padding-bottom: 100px;
  }
  .content2 .content-div2{
    color: white;
  }
  h3{
    font-family: 'Philosopher';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 72px;
    padding-top: 60px;
    margin-left: 20px;
    padding-left: 30px;
    
  }
  h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    padding-top: 20px;
    padding-right: 40px;
    padding-left: 30px;
    margin-left: 20px;
    margin-right: 20px;
  }
  .bg2_img{
    padding-right: 100px;
  }
  .bg1_img{
    padding-left: 100px;
  }
  .content3{
    text-align: center;
    background: #0D0139;
    color: white;
    padding-bottom: 25px;
  }
  footer{
    display: flex;
    background: #0D0139;
    width: 100%;
    height: 26vh;
    color: white;
  }
  p{
    font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 38px;
align-items: center;
padding-left: 25px;
padding-right: 155px;
padding-top: 30px;
  }
  h6{
    font-family: 'Raleway';
font-style: normal;
color: rgba(255, 255, 255, 0.678);
font-weight: 400;
padding-top: 10px;
font-size: 20px;
line-height: 28px;
padding-left: 30px;
padding-right: 100px;
margin-right: 30px;
}
.imgfot{
    margin-left: 30px;
    margin-top: 10px;
}
.nav_links a.active::before{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 0.2rem;
    background: white;
}
.nav_links a:hover{
    color: rgb(164, 164, 164);
    transition: .6s ease;
    transform: scale(1.02);
    font-weight: bold;
    font-size: 20px;
}
.sign_up_button:hover{
    transition: .6s ease;
    transform: scale(1.07);
}
img .user{
    transition: .6s ease;
    transform: scale(1.07);
}


.header.sticky{
    background: green;
    box-shadow: 0 .1rem 1rem gray;
}
.lpage{
    align-items: center;
    color: black;

    background-color: white;
    border-radius: 15px;
    width: 66px;
    padding-left: 10px;
    padding-top: 8px;
}
.lpage:hover{
    transition: .6s ease;
    font-weight: bold;
    transform: scale(1.07);
}